/* ------------------------------------------------------------------
                          [Table of contents]
        ***     01.  ==>   Root Variables And Font Family 
        ***     02.  ==>   General Style   

--------------------------------------------------------------------- */

/* Root Variables */

:root {
  --black: #333333;
  --white: #ffffff;
  --light-orange: #ff9a6c;
}

/* ------------------------------------------------------------------
                    ***     General Style        ***
--------------------------------------------------------------------- */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

select,
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  border: none;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9a6c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c07754;
}

/* nav bar */

.navbar {
  overflow: hidden;
  background: var(--white);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.container__navbar {
  width: 80%;
  margin: 0 auto;
}

.navbar a {
  float: left;
  font-size: 1.3rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--black);
  text-shadow: 2.5px 5px 10px rgba(0, 0, 0, 0.13);
}

.dropdown {
  float: right;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--black);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 5px;
  transition: all 0.4s ease-in-out;
}

.dropdown:hover .dropbtn {
  background: var(--light-orange);
  border-radius: 8px;
  color: var(--white);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 0 10px;
  font-size: 1.2rem;
}

.dropdown-content a:last-child {
  margin-bottom: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.news__body {
  width: 100%;
  padding: 15px 0;
}
.news__container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.news-card {
  background-color: #ddd;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.info__news-card {
  padding: 5px 15px;
  height: 300px;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
.image__news-card {
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  border-radius: 5px 5px 0 0;
}

.image__news-card > img {
  transition: all 0.4s ease-in-out;
  height: 250px;
  width: 100%;
  max-height: 250px;
}
.image__news-card:hover > img {
  transform: rotate(10deg) scale(1.3);
}

.title__news {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.7rem;
  height: 40px;
  overflow: hidden;
}

.content__news {
  font-size: 0.9rem;
  text-align: justify;
  overflow: hidden;
}

.date__news {
  margin-top: 5px;
  font-size: 0.7rem;
  text-align: start;
}

.btn__read-more {
  display: block;
  background: var(--light-orange);
  border-radius: 8px;
  color: var(--white);
  padding: 10px 12px;
  font-size: 1.1rem;
  margin: 10px auto;
  transition: all 0.4s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn__read-more:hover {
  background: #da8056;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 80vh;
  background-color: var(--white);
  transition: all 0.4s ease-in-out;
  overflow-x: hidden;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid var(--light-orange);
  pointer-events: none;
  animation: animate 5s linear infinite;
}
.loader span:nth-child(1) {
  border-radius: 38% 62% 64% 36% / 43% 35% 65% 57%;
}
.loader span:nth-child(2) {
  animation-direction: reverse;
  border-radius: 41% 59% 40% 60% / 65% 66% 34% 35%;
}
.loader span:nth-child(3) {
  animation-duration: 3s;
  border-radius: 73% 27% 56% 44% / 57% 74% 26% 43%;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.p {
  color: var(--light-orange);
  font-weight: 500;
  font-family: consolas;
}
